
  <!-- Header Area-->
  <header class="header-area">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Navbar Brand --><a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt=""></a>
        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#saasboxNav" aria-controls="saasboxNav" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-grid"></i></button>
        <!-- Navbar Nav -->
        <div class="collapse navbar-collapse" id="saasboxNav">
          <ul class="navbar-nav navbar-nav-scroll">
            <li class="sb-dropdown"><a routerLink="/site">Site</a>
              <!-- <ul class="sb-dropdown-menu">
                <li><a href="creative-agency.html">Creative Agency</a></li>
                <li><a href="business-studio.html">Business Studio</a></li>
                <li><a href="saas-landing.html">Saas Landing</a></li>
                <li><a href="seo-business.html">SEO &amp; Business</a></li>
              </ul> -->
            </li>
            <li class="sb-dropdown"><a routerLink="/admin">Admin</a>
              <!-- <ul class="sb-dropdown-menu">
                <li><a href="portfolio-standard.html">Portfolio 1</a></li>
                <li><a href="portfolio-creative.html">Portfolio 2</a></li>
                <li><a href="portfolio-full-width.html">Portfolio 3</a></li>
                <li><a href="portfolio-details-one.html">Portfolio Details 1</a></li>
                <li><a href="portfolio-details-two.html">Portfolio Details 2</a></li>
                <li><a href="portfolio-details-three.html">Portfolio Details 3</a></li>
              </ul> -->
            </li>
            <li class="sb-dropdown"><a routerLink="/contact">Contact</a>
             
            </li>
           
          </ul>
          <!-- Login Button -->
          <!-- <div class="ms-auto mb-3 mb-lg-0"><a class="btn btn-warning btn-sm" href="#">Log In</a></div> -->
        </div>
      </div>
    </nav>
  </header>
 



  <router-outlet></router-outlet>




 
  <div class="mb-120 d-block"></div>
  <!-- Footer Area-->
  <footer class="footer-area">
    <div class="container">
      <div class="row g-4 g-lg-5">
        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="footer-widget-area"><a class="d-block mb-4" href="index.html"><img style="border-radius: 30px" src="assets/img/logo1.png" alt=""></a>
            <p>Lorum ipsum</p>
          
          </div>
        </div>
        <!-- Footer Widget Area-->
        <div class="col-12 col-sm-6 col-lg-3">
         
        </div>
        <!-- Footer Widget Area-->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="footer-widget-area">
            <h5 class="mb-4">Lorum ipsum</h5>
            <ul class="list-unstyled">
              <li><a href="#" target="_blank"><i class="bi bi-caret-right"></i>Lorum ipsum</a></li>
              <li><a href="#" target="_blank"><i class="bi bi-caret-right"></i>Lorum ipsum</a></li>
            </ul>
          </div>
        </div>
        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="footer-widget-area">
            <h5 class="mb-4">Lorum ipsum</h5>
            <p class="lh-base mb-3">Lorum ipsum<br> Lorum ipsum</p>
            <!-- Footer Social Icon -->
          </div>
        </div>
      </div>
    </div>

  </footer>
  <!-- Scroll To Top  -->
  <div id="scrollTopButton"><i class="bi bi-arrow-up-short"></i></div>
  <div class="mb-120 d-block"></div>
  <!-- Cookie Alert Area-->
  <div class="cookiealert">
    <p>This site uses cookies. We use cookies to ensure you get the best experience on our website. For details, please check our <a href="#" target="_blank"> Privacy Policy.</a></p>
    <button class="btn btn-primary btn-sm acceptcookies" type="button" aria-label="Close">I agree &amp; Close</button>
  </div>

  
  
  
 


 


